.projects-section {
  margin: 5rem 0 auto;
}

.projects-container {
  padding: 2rem 5%;
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

#day .projects-section h1 {
  color: #414351;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  padding: 1rem 0;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

#night .projects-section h1 {
  color: #11ffee;
}

.card-frame {
  padding: 2rem;
}

.projects__card {
  height: 100%;
  width: 18rem;
  padding: 1%;
  transition: all 0.5s ease 0s;
}

#day .projects__card {
  color: #000;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

#night .projects__card {
  color: #fff;
  background: #212529;
  box-shadow: 0 0 5px 1px #11ffee;
  opacity: 0.9;
}

.projects__card:hover {
  transform: scale(1.02);
}

.projects__card__img {
  height: 10rem;
}

.projects__card__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.projects__card__title {
  font-family: "Anton", sans-serif;
}

#day .projects__card__title {
  color: #414351;
}

#night .projects__card__title {
  color: #11ffee;
}

.projects__card__buttons {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.projects__card__button {
  margin: 0 0.3rem;
  width: 5rem;
}

@media screen and (max-width: 900px) {
  .projects__card {
    margin: 0 auto 1rem auto;
  }
}

@media screen and (max-width: 500px) {
  .projects-container {
    padding-top: 0;
  }

  .projects__card {
    height: 600px;
    width: 13rem;
  }
  .projects__card__button {
    transform: scale(0.8);
  }
}
