.cv-container {
  margin: 2rem auto;
}

.btn-custom:hover {
  background-color: #ccff0085 !important;
}

.btn-custom:focus {
  box-shadow: none !important;
}

.pdf {
  height: 500px;
}

.resume-buttons {
  z-index: 1;
}

.document {
  display: grid;
  place-items: center;
}