#night .about-me-container {
  width: 100%;
  color: #fff;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  background: #21252970;
  box-shadow: 0px 5px 5px 0px #21252970 !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3rem 10%;
  transition: 0.5s;
}

#day .about-me-container {
  width: 100%;
  color: #fff;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.26);

  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3rem 10%;
}

.about-me__image-container {
  width: 30vw;
  display: grid;
  place-items: center;
}

.about-me__image {
  max-height: 450px;
  border: 3px solid white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.about-me__info {
  display: grid;
  text-transform: uppercase;
}

#day .about-me__info h1 {
  color: #414351;
}

#night .about-me__info h1 {
  color: #11ffee;
}

#day .about-me__info__skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: #090e1e;
}

#night .about-me__info__skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.about-me__info__skill-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  place-items: start;
  align-items: center;
}

.about-me__info__skill-list__icon {
  transform: scale(0.7);
}

.about-me__info__skill-list-item p {
  padding-top: 6px;
  margin: 0;
}

.wave {
  animation: wave 2.3s linear 1s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1600px) {
  .about-me__image {
    max-height: 350px;
  }

  #day .about-me__info h1 {
    font-size: 2rem;
  }

  #night .about-me__info h1 {
    font-size: 2rem;
  }

  .about-me__info__skill-list__icon {
    transform: scale(0.6);
  }

  #day .about-me__info__skill-list {
    font-size: 1rem;
  }

  #night .about-me__info__skill-list {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1300px) {
  #night .about-me-container {
    grid-template-columns: 1fr;
  }

  #day .about-me-container {
    grid-template-columns: 1fr;
  }

  .about-me__image-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  .about-me__image {
    max-height: 250px;
  }

  .about-me__info {
    place-items: center;
  }

  #day .about-me__info h1 {
    font-size: 2.5rem;
  }

  #night .about-me__info h1 {
    font-size: 2.5rem;
  }

  .about-me__info__skill-list__icon {
    transform: scale(0.6);
  }

  #day .about-me__info__skill-list {
    font-size: 1rem;
  }

  #night .about-me__info__skill-list {
    font-size: 1rem;
  }
}
