.about-me-container {
  margin: 2rem 15%;
  padding: 0 1rem;
  color: #fff;
}

.about-me__top-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro-card {
  background-color: #212529;
  opacity: 0.9;
  padding: 2%;
  border-radius: 25px;
  display: grid;
  place-items: center;
}

.intro-card__interests {
  font-size: 1.2rem;
}

.intro-card__interests ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.5rem;
  list-style: none;
  text-align: left;
}

.about-me__image {
  max-height: 450px;
  opacity: 0.95;
}

.green {
  color: #ccff00;
}

.wave {
  animation: wave 2.3s linear 1s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.tools-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
}

.title-wrapper {
  align-items: center;
  background-color: #212529;
  opacity: 0.9;
  border-radius: 10px;
  width: 30%;
  padding: 0.5%;
}

.tool-container {
  display: grid;
  place-items: center;
  background-color: #212529;
  opacity: 0.9;
  border-radius: 10px;
  width: 5rem;
  height: 5rem;
}

.tool-container:hover {
  color: #ccff00;
  transform: scale(1.02);
  box-shadow: 0px 0px 4px 1px #ccff0065;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1400px) {
  .intro-card h1 {
    font-size: 1.5rem;
  }

  .intro-card h2 {
    font-size: 1.2rem;
  }

  .intro-card p {
    font-size: 1rem;
  }

  .intro-card ul span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .about-me__image {
    max-height: 350px;
  }

  .tools-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .tool-container {
    margin-bottom: 1rem;
  }

  .intro-card__interests ul li {
    font-size: 1rem;
  }

  .title-wrapper {
    width: 30%;
  }

  .title-wrapper h2 {
    font-size: 1.3rem;
    padding: 0.3rem;
  }

  .title-wrapper h2 {
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .about-me__top-layout {
    display: inline;
  }

  .about-me__image {
    margin-bottom: 1rem;
  }

  .title-wrapper {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .tools-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .tool-container {
    height: 4rem;
    width: 4rem;
  }

  .intro-card__interests ul li {
    font-size: 1rem;
  }

  .title-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 360px) {
  .tool-container {
    height: 3rem;
    width: 3rem;
  }

  .intro-card__interests ul li {
    font-size: 0.8rem;
  }

  .title-wrapper {
    width: 70%;
  }
}
