footer {
  color: #ffffff;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.copyright {
  padding-top: 0.4rem;
  font-size: 0.6rem;
}

.copyright-container {
  display: grid;
  place-items: center;
}

.socials-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media screen and (max-width: 280px) {
  .copyright-container {
    display: none;
  }
}
